.card ion-card {
    --background: var(--ion-color-orange);
    border-radius: 15px;
  }
  
  ion-card-title {
    --color: var(--ion-color-yellow-contrast);
  }

  ion-card-content {
    padding: 5px !important;
  }

  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-top: 7px;
  }