.waveBottom{
    width: 100%;
    position: static;
    margin-top: 600px;
}

.waveTop{
    width: 100%;
    position: fixed;
    top: 0;
}


.waveGroup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

