.button {
    height: 40px;
    width: 300px;
    background-color: transparent;
    color: var(--ion-color-orange);
    text-decoration: underline;
    font-size: 16px;
}

.componentSpacing{
    margin: 15px;
}